body {
  margin: 0;
  font-size:20px;
}
.desktop{display:block;}
.mobile{display:none;}  

.top {
    display: flex; /* 使用 Flexbox */
    justify-content: space-between; /* 標題和選單分別靠左靠右 */
    align-items: center; /* 垂直置中 */ 
    font-size:20px;
    margin: 15px;
  }
  
  .title { /* 標題樣式 */
    color: black; 
  }
  
  a { /* 選單項目樣式 */
    color: black;
    text-decoration: none; 
    margin-left: 20px; /* 選單項目間距 */
  }

.second {
   display:flex;
   justify-content:center;
   align-items:center;
   height:250px;
   background-color: lightblue;
   margin-bottom:20px;
   font-size:40px;
  }
  .second.text { 
   color: black; 
   text-align:center;
  }

.container {
    width: 1200px;
    margin: 0 auto; /* 水平置中 */
  }
  
  .small-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 三等份 */
    gap: 20px; /* 盒子間距 */
  }
  
  .small-box1,
  .small-box2,
  .small-box3 {
    height: 50px;
    display: flex;
    align-items: center; /* 垂直置中 */
    background-color:lightblue;
  }
  
  .small-box1 img,
  .small-box2 img,
  .small-box3 img{
    float: left;
    width: 80px;
    height: 100%;
  }
  
  .small-box1 .text,
  .small-box2 .text,
  .small-box3 .text   {
    margin-left: 10px; /* 文字和圖片間距 */
    font-size: 20px;
  }

  .big-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 第一欄兩倍寬 */
    grid-template-rows: repeat(2, 1fr); /* 兩列等高 */
    gap: 20px; 
  }

  .grid-item1,
  .grid-item6  {
    position: relative; /* 方便定位星星和文字 */
    grid-column: span 2;
  }
  
  .grid-item1 img,
  .grid-item6 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 圖片保持比例填滿 */
  }

  .grid-item2,
  .grid-item3,
  .grid-item4,
  .grid-item5,
  .grid-item7,
  .grid-item8,
  .grid-item9,
  .grid-item10 {
    position: relative; /* 方便定位星星和文字 */
  }
  
  .grid-item2 img ,
  .grid-item3 img ,
  .grid-item4 img ,
  .grid-item5 img ,
  .grid-item7 img ,
  .grid-item8 img ,
  .grid-item9 img ,
  .grid-item10 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 圖片保持比例填滿 */
  }
  
  .star {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(200, 148, 6, 0.861); /* 半透明黃色 */;
  }
  
  .title-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(197, 232, 172, 0.78); /* 半透明黑色 */
    color: black;
    text-align: center;
    padding: 10px 0; 
  }

@media (max-width: 1200px) {
    /* ... */
    .container {
      width:90%;
    }
    
    .small-boxes {
      grid-template-columns: repeat(2, 1fr); /* 4等份 */
      grid-template-rows:repeat(2,1fr);
      flex-wrap:wrap;
      
    }
    
    .small-box3 {
      grid-column: span 2;
    }
    
    .big-box {
      display: grid;
      grid-template-columns: repeat(4,1fr); /* 4x3 */
      grid-template-rows: repeat(3, 1fr); 
    }
 
    .grid-item1,
    .grid-item2,
    .grid-item3,
    .grid-item4,
    .grid-item5,
    .grid-item6,
    .grid-item7,
    .grid-item8 {
      grid-column: span 1;
    }
    
    .grid-item1 img ,
    .grid-item2 img ,
    .grid-item3 img ,
    .grid-item4 img ,
    .grid-item5 img ,
    .grid-item6 img,
    .grid-item7 img,
    .grid-item8 img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* 圖片保持比例填滿 */
    }
    
    .grid-item9,
    .grid-item10 {
      position: relative; /* 方便定位星星和文字 */
      grid-column: span 2;
    }
    
}


@media (max-width: 600px) {
  .desktop{display:none;}
  .mobile{display:block;}
  
  .top{
    margin: 8px;
  }
  .top img{
    max-width: 30px;
    max-height:30px;  
  }

  .menu-button{
    max-width: 30px;
    max-height:30px; 
  }

  .menu {
    position: fixed;
    top:0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    Z-index:10;
  }

  .menu ul {
    width: 100%; /* ul填滿menu寬度 */
    padding: 0; /* 去除ul padding */
  }

  .menu ul li {
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; /* 文字置中 */  
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black; 
    cursor: pointer; 
  } 

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ .menu {
    right: 0;
  }

  .second{
    font-size: 26px;
  }
  .container {
    width:90%;
  }
  
  .small-boxes {
    grid-template-columns:  1fr; /* 1x3等份 */
    grid-template-rows:repeat(3,1fr);  
  }

  .small-box1,
  .small-box2,
  .small-box3 {
    grid-column: span 1;
  }
  
  .big-box {
    grid-template-columns: 1fr; /* 1x10 */
    grid-template-rows: repeat(10, 1fr);
  }

  .grid-item1,
  .grid-item2,
  .grid-item3,
  .grid-item4,
  .grid-item5,
  .grid-item6,
  .grid-item7,
  .grid-item8,
  .grid-item9,
  .grid-item10  {
    grid-column: span 1;
  }
}
  


